
body{
    opacity: 0;
    transition: 1s;
  
}
header{
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  top: 0;
  display:flex;
  justify-content: space-around;

  align-items: center;

}
.logo{
  width: 70px;
  margin-left: 10px;
}
.container-input {
  position: relative;
}

.input {
  width: 300px;
  padding: 10px 0px 10px 40px;
  font-size: 20px;

  border: none;
  border-bottom: solid 3px #333;
  transition: all 0.3s ease-in-out;
  outline: none;


}
.nav{
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
}
.nav>div>a{
  cursor: pointer;
  font-weight: 800;
  font-size: 17px;
  transition: 0.12s ease; 
  text-decoration: none;
  color: #000000;

  
}
.nav>div>a:hover{

  color: #E4032E;
  border-bottom: 2px solid #E4032E;

}
.ss{
  font-weight: 800;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.ss:hover{
  color: #E4032E;

}
.ss>div{
  font-size: 16px;
}

.container-input span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  cursor: pointer;
}

.input:focus {
  opacity: 1;
  width: 350px;
}
.i1{
  display: none;
  opacity: 0;
  transition: 3s;
}
footer{
  width: 100%;
  /* height: 150px; */
  background-color: #000;
  position: absolute;
  z-index: 100;

  bottom: 1000;


}
.ttt{
  text-align: justify;
}
#Occasion{
  cursor: pointer;
}
.occassion{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 41;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: 1s;

}
.content{
  font-size: 40px;
  margin: 90px;
  padding: 20px;
  text-align: justify;
  color: #ffffff;
  font-family: Merriweather;
  font-weight: 700;
  background: transparent;
  border-radius: 40px;
  backdrop-filter: blur(10px);
}
.close{
  text-align: end;
  width: 100%;
  font-size: 50px;
  font-weight: 900;
  transition: 0.5s;
  cursor: pointer;

}
.close:hover{
  transform: translateY(-8px);
  color: #E4032E;

}
.main{

    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-image: url(vvv.avif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s;


}
.main>div{

 color: transparent;
 font-size: 80px;
 margin: 30px;

 background-image: url(auto-moto.jpeg);
 background-clip: text;
 font-weight: 900;
 box-shadow: 0px -0px 79px 13px rgba(0,0,0,1);
 border-radius: 30px;
 backdrop-filter: blur(30px);
 cursor: pointer;
 letter-spacing: 25px;
 text-shadow: 0px 0px 25px rgba(249, 255, 207 , 0.5);
 transition: 0.4s;
 overflow: hidden;

 
 
}
.main>div>a{
  text-decoration: none;
  color: transparent;
}
.main>div:hover{
  /* box-shadow: 0px -0px 79px 33px rgba(0,0,0,1); */
  transform: scale(1.05);

  border-radius: 7px;

}


  .tla3{
    /* opacity: 0; */
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 15;
    transition: 1s ease-in-out;
    filter: blur(100px);
  }
  .tla3 a span{
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 70px;
  }
  .categoris{
    width: 15%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    overflow: scroll;
    top: 100px;
  
  
  
  }
  
  .produits{
    margin-top: 100px;
    width: 85%;
    height: 100%;
    display: flex;
    background-color: #e7e7e7;
    flex-flow: row wrap; 
    margin-left: auto;
    justify-content: space-around; 
  }
  
  
  .iii{
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow-x: none;
  }
  
  
  .card {
  width: 250px;
  height: 280px;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  margin-bottom: 30px;
  background-image: linear-gradient(43deg, rgb(255, 255, 255) 0%, rgb(197, 197, 197) 46%, rgb(255, 219, 152) 100%);
  
  transition: 0.3s;
  }
  .card:hover{
  transform: scale(1.01);
  cursor: pointer;
  
  }
  
  .imgbg{
  margin: 10%;
  border-radius: .5rem 2rem;
  width: 90%;
  
  margin: 5%;
  border-radius: .5rem 2rem;
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: 2s;
  opacity: 0;
  /* filter: blur(100px); */
  }
  
  .imgbg:hover{
  transform: scale(1.1);
  cursor: pointer;
  
  }
  
  .desc{
  display: flex;
  flex-flow: column;
  
  }
  
  .promix{
  /* margin-right: 20%; */
  color: rgb(255, 47, 0);
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
  
  text-align: start;
  display: flex;
  
  }
  .buttonach{
  background-image: linear-gradient(43deg, rgb(255, 17, 0) 0%, rgb(255, 95, 15) 46%, rgb(255, 204, 112) 100%);
  width: 100%;
  border-radius: .5rem 2rem ;
  border: none;
  text-align: center;
  padding-left: 20px;
  
  transition: 1s;
  
  }
  .buttonach:hover{
  transform: scale(1.05);
  cursor: pointer;
  background-image: linear-gradient(43deg, rgb(64, 255, 0) 0%, rgb(24, 249, 43) 46%, rgb(129, 251, 158) 100%);
  
  }
  
  .achicon{
  
  padding-top: 5px;

  
  }
  
  
  
  .paginationnn nav{
  display: flex;
  justify-content: end;
  }
  .heart-container {
  --heart-color: rgb(255, 44, 104);
  position: relative;
  width: 70px;
  height: 30px;
  transition: .3s;  
  margin-left: 30px;
  
  
  }
  
  .heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  }
  
  .heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
  }
  
  .heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
  }
  
  .heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
  }
  
  .heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
  }
  
  
  @keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }
  
  25% {
    transform: scale(1.2);
  }
  
  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
  }
  
  @keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }
  
  50% {
    opacity: 1;
    filter: brightness(1.5);
  }
  
  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
  }
  .bbb{
  display: flex;
  width: 300px;
  }
  
  .barre-categories {
  height: 700px;
  margin: auto;
  display: flex;
  flex-flow: column;
  gap: 5px;
  background-color: #ffffff;
  justify-content: space-around; 
  padding: 10px 0; 
  
  }
  
  .barre-categories a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
  }
.barre-categories a img{
    width: 20px;


}
  
  
  .barre-categories a:hover {
  background-color: #d2d2d2;
  color: #000;
  border-radius: 20px;
  }
  .descriptiontitre{
  
  font-size: 15px;
  font-weight: 700;
  text-align: justify;
  }
  .mdrob{
  color: #3f3f3f;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 800;
  transform: rotate(-10deg);
  
  }
  .prin{
  
  position: absolute;
  background-image: url(auto-moto.jpeg);
  font-size: 25px;
  color: transparent;
  background-clip: text;
  background-position: center;
  font-weight: 900;
  width: 100%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  .phone{
  text-align: center;
  border-radius: 20px;
  /* border-bottom: 5px solid #E4032E; */
  background-image: url(auto-moto.jpeg);
  background-position: center;
  background-clip: text;
  font-weight: 900;
  font-size: 23px;
  color: transparent;
  /* margin-left: 25%; */
  width: 100%;
  /* height: 30px; */
  
  }
  .cat{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    
    
  }
  .cat div{
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  
  
  }

  .cat div:hover{
  border-radius: 10px;
  background-color: #e7e7e7d1;
  text-decoration: underline;
  /* border-bottom: 2px solid; */
  
  }
  
  

  .camera{
  background-image: url(auto-moto.jpeg);
  background-position-x: 200px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 0px;
  
  color: transparent;
  
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  margin-left: 50px;
  transition: 2.5s;
  }
  #mercedes , #BMW , #Toyota , #Kawasaki , #Yamaha, #Ducati{
  background-image: url(auto-moto.jpeg);
  background-position-x: 0px;
  background-repeat: no-repeat;
  background-clip: text;
  background-size: 500px;
  
  color: transparent;
  
  width: 100%;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 10px;
  margin-left: 50px;
  transition: 2.5s;
  }
  
  .prinss{
  position: absolute;
  background-image: url(auto-moto.jpeg);
  font-size: 30px;
  color: transparent;
  background-position: center;
  background-clip: text;
  font-weight: 700;
  width: 100%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .barre-categories-ss {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 5px;
  background-color: #ffffff;
  justify-content: space-around; 
  padding: 10px 0; 
  
  
  }
  
  .barre-categories-ss a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 20px;
 
  display: flex;
  justify-content: space-around;
  }
  .barre-categories-ss a img{
    width: 20px;
  }
  
  .barre-categories-ss a:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  }
  
  .nav-lfo9{
  display: none;
  }
  @media(max-width: 870px ){
    .nav>div>a{

      font-size: 13px;

    
      
    }
  }
  @media(max-width: 770px ){
  .main div{
    font-size: 40px;
    letter-spacing: 4px;
  }
  .categoris{
   display: none;
  
  }
  header{
    display: none;
  }
  .nav-lfo9{
  display: block;
  }
  .produits{
  width: 100%;
  height: 100%;
  margin-top: 72px;
  
  display: flex;
  background-color: #e7e7e7;
  background-position: center;
  
  flex-flow: row wrap;
  
  
  
  justify-content: space-around;
  
  
  
  }
  
  .card {
  width: 230px;
  height: 240px;
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  margin: 30px;
  
  
  transition: 0.3s;
  }
  .card:hover{
  transform: scale(1.01);
  cursor: pointer;
  }
  .imgbg{
    width: 90%;
    margin: 5%;
    border-radius: .5rem 2rem;
    transition: .3s ease;
    height: 80px;

    background-size: contain;
    background-repeat: no-repeat;
    
  }
  
  
  
  .cat{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  
  }
  .cat p{
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  
  }
  .cat a:hover{
  border-radius: 10px;
  background-color: #e7e7e7d1;
  text-decoration: none;
  }
  
  .heart-container {
  --heart-color: rgb(255, 44, 104);
  
  width: 20px;
  height: 30px;
  transition: .3s;  
  position: absolute;
  margin-left: 130px;
  
  
  }
  .mdrob{
  position: absolute;
  font-size: 10px;
  left: 80px;
  text-decoration: line-through;
  font-weight: 800;
  transform: rotate(-10deg);
  /* margin-left: -40px; */
  }
  #ecouteurs , #accessoires , #chargeures ,#batteries{
  
  background-position-x: 0px;
  
  }

.input2 {
  width: 80%;
  padding: 10px 0px 10px 40px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: solid 3px #333;
  transition: all 0.3s ease-in-out;
  outline: none;


}
.nav{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.nav>div>a{
  cursor: pointer;
  font-weight: 800;
  font-size: 10px;
  transition: 0.12s ease; 
  text-decoration: none;
  color: #000000;

  
}
.nav>div>a:hover{

  color: #E4032E;
  border-bottom: 2px solid #E4032E;

}
.ss{
  font-weight: 800;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.ss:hover{
  color: #E4032E;

}
.ss>div{
  font-size: 10px;
}

.container-input span {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  cursor: pointer;
}

.input2:focus {
  opacity: 1;
  width: 90%;
}
.ss>span{
  font-size: 15;
}
  }
  
  .button {
  
  width: 100%;
  border-radius: .5rem 2rem ;
  border: none;
  text-align: center;
  padding-left: 20px;
  background-color: #3FA440;
  border: none;
  height: 45px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  color: aliceblue;
  
  transition: all 1s ;
  filter: blur(100px);
  }
  


  
  .AAAA::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #E4032E;
  background-image:url('buttonach.jpg') ;
  background-repeat:no-repeat ;
  background-size: 60%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(50px);
  transition: all 0.5s ;
  }
  
  
  
  .AAAA:hover::after {
  transform: translateY(0) scale(1.2);
  }
  
  
  @media(max-width: 1250px ){
  .prin{
    font-size: 20px;
  }
  .phone{
    font-size: 20px;
  }
  .tla3{
    /* opacity: 0; */
    position: fixed;
    bottom: 30px;
    right: 80px;
    z-index: 15;
    transition: 1s ease-in-out;
    filter: blur(100px);
  }
  
  .tla3 a span{
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 40px;
  }
  }
  @media(max-width: 1100px ){
  .prin{
    font-size: 17px;
  }
  .phone{
    font-size: 17px;
  }
  
  }
  @media(max-width: 800px ){
  .prin{
    font-size: 16px;
  }
  .phone{
    font-size: 15px;
  }
  
  }
  
  @media(max-width: 450px ){
    .ss{
      display: none;
    }
    
    }